.main {
			/*padding-top: 32px ;
			padding-left: 78px;*/
			margin: 0 auto;
			padding: 30px;
		}

.tab{
			background-color: #d6513f; 
 			float: left;
			margin: 20px;
			width: 252px;
			height: 150px;
			text-align: auto;
			overflow: hidden;
	}
